<script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/3.0.1/mustache.js"></script>
<script src="http://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src="https://momentjs.com/downloads/moment.js"></script>
<script src="../../js/child.js"></script>
<script src="../../js/jquery.fittext.js"></script>
    <script id="message-template" type="x-tmpl-mustachee">
        <div>
            <p>[[text]]</p>
        </div>
    </script>