<div id="tables">

    <table id="city-weather-table">
        <tr>
            <td>Temp: 100</td>
            <td>Humidity: 2000</td>
        </tr>
        <tr>
            <td>Min temp: -10</td>
            <td>Max temp: 200</td>
        </tr>
        <tr>
            <td>Pressure: 509676</td>
            <td>Wind Speed: 5</td>
        </tr>
    </table>

    <table id="pi-weather-table">
        <tr>
            <td>Inside Temp: 56</td>
            <td>Inside Humidity</td>
        </tr>
        <tr>
            <td>Inside light: 45676</td>
        </tr>

    </table>

</div>


{{!-- $('#city-weather-table').hide() --}}
