
<h2>{{customTitle}}</h2>
<div *ngFor="let practice of practices; let i = index">
     <p>{{practice}}</p>
      <div class="flex-container">
          <ng-template ngFor let-doctor [ngForOf]="practice"> 
            <div class="doc-card p-1">
                <div class="card">
                    <div class="card-body">
                        <div *ngIf="doctor.name.length > 0">  <!-- Only display doctors who's name property length is longer than 0 -->
                          <img class="card-img-top" src="https://avatars.dicebear.com/v2/{{doctor.gender}}/{{doctor.name || 'noname'}}.svg" alt="Dr. {{doctor.name}} - {{doctor.specialty}}">
                          <div>
                            <h5 class="card-title">Dr. {{doctor.name}}</h5>
                            <h6 class="card-subtitle mb-2">{{doctor.specialty}}</h6>
                            <a href="#" class="card-link">Reviews <span class="badge badge-primary">{{doctor.reviewCount}}</span></a>
                          </div>
                      </div>
                    </div>
                </div>
            </div>
          </ng-template>
        </div>   
</div>
