<div id="indoors-temp-humidity">
    <table>
        <tr>
            <th>Indoor Temp</th>
            <th>Indoor Humidity</th>
        </tr>
        <tr>
            <td>{{indoor_temp}}</td>
            <td>{{indoor_humidity}}</td>
        </tr>
    </table>
</div>