<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>


<form>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="number" min='0' max='100' step='.1' class="form-control" id="allownumericwithdecimal" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="number" class="form-control" id="allownumericwithdecimal" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>