<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<<<<<<< HEAD
<script src="../../js/child.js"></script>

<script id="message-template" type="text/html">
    <div>
        <p>{{text}}</p>
    </div>
</script>
=======
<script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/3.0.1/mustache.js"></script>
<script src="../../js/child.js"></script>
>>>>>>> 91b0bb1f2946e3db6f11a1f6db430b4f5b0a964e
