<div class="row mx-md-n5">
  <div class="col px-md-5"><button type="button" class="btn btn-success btn-lg" id="btn-on">Turn ON</button></div>
  <div class="col px-md-5"><button type="button" class="btn btn-danger btn-lg" id="btn-off">Turn OFF</button></div>
</div>



{{!-- <button type="button" class="btn btn-success btn-lg" id="btn-on">Turn ON</button>
<button type="button" class="btn btn-danger btn-lg" id="btn-off">Turn OFF</button> --}}