<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>What's the Weather</title>
    <link rel="stylesheet" href="../css/page-layout.css">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <link rel="stylesheet" href="../css/flipclock.css">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
</head>
<body>
    
    <div class="split left">
        <div class="centered">
            <div class="clock">  </div>  
        </div>       
    </div>
    <div class="split right">
        <div class="centered">
            {{> weather_icon}}

            {{> city_details}}

            {{> weather_info}} 

            {{> indoors}}

            </div>
        </div>
    </div> 

    <p>{{> coords}}</p>  
    {{> scripts}}
</body>
</html>