<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Some Website</title>
  </head>
  <body>
    <h1> {{maintenanceMessage}} </h1>
    <p>
      {{printMessage 'We aplogize for any inconvenience'}}
    </p>
    {{> footer}}
  </body>
</html>
